@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 설정 */
:root {
  font-family: var(--font-spoqa), sans-serif;
}

/* 모든 요소에 적용 */
*,
button {
  font-family: var(--font-spoqa), sans-serif;
}

.transition-linear {
  @apply transform transition-all duration-300 ease-linear;
}

h1 {
  @apply text-2xl-bold md:text-3xl-bold;
}

.diagonal-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 1px; /* 대각선의 두께 */
  background-color: rgba(0, 0, 0, 0.1); /* 대각선의 색상 */
  transform: rotate(27deg); /* 대각선 회전 */
  transform-origin: left top;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px; /* 웹킷 기반 브라우저에서 스크롤바 숨김 */
  height: 0px; /* 스크롤바의 높이 */
  -ms-overflow-style: none; /* IE 및 엣지에서 스크롤바 숨김 */
  scrollbar-width: none; /* 파이어폭스에서 스크롤바 숨김 */
}
