@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 설정 */
:root {
  font-family: var(--font-spoqa), sans-serif;
}

/* 모든 요소에 적용 */
*,
button {
  font-family: var(--font-spoqa), sans-serif;
}

.transition-linear {
  @apply transform transition-all duration-300 ease-linear;
}

/* Webkit 기반 브라우저용 스크롤바 커스터마이징 */
::-webkit-scrollbar {
  height: 0px; /* 스크롤바의 높이 */
}

h1 {
  @apply text-2xl-bold md:text-3xl-bold;
}

.diagonal-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 1px; /* 대각선의 두께 */
  background-color: rgba(0, 0, 0, 0.1); /* 대각선의 색상 */
  transform: rotate(27deg); /* 대각선 회전 */
  transform-origin: left top;
}
